Source: openinfoman-whomds
Maintainer: Carl Leitner <litlfred@ibiblio.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Homepage: https://github.com/openhie/openinfoman-whomds


Package: openinfoman-whomds
Architecture: all
Depends: openinfoman (>= 1.0.11)
Recommends: 
Description: OpenInfoMan WHO Minimum Data Set(MDS) Library
 Library of stored functions for OpenInfoMan specific to WHO Minimum Data Set(MDS)
